---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  -bugprone-branch-clone,
  -bugprone-signed-char-misuse,
  cppcoreguidelines-pro-type-static-cast-downcast,
  cppcoreguidelines-slicing,
  misc-const-correctness,
  misc-misplaced-const,
  performance-*,
  -performance-no-int-to-ptr,
  readability-misleading-indentation,
  readability-redundant-smartptr-get
WarningsAsErrors: ''
HeaderFilterRegex: '^.*/(src|include)/(?!pcre|s7|networking-ts-impl|ffi|shims|linenoise).*'
