# extmpore binary executable
extempore
extempore.exe
extempore.lib

# boost
/boost

# cmake
/cmake-build
/extras/cmake/aot.cmake
/extras/cmake/aot_extended.cmake

# AOT-compiled libraries
/libs/aot-cache
/libs/aot-cache.bak


# Windows dlls/libs
/libs/platform-shlibs
/libs/CEF
extempore.pdb

# Horde3D
/Horde3D
Horde3D.dll
Horde3dUtils.dll

# Bullet
BulletCollision.dll
BulletDynamics.dll

# assets
/assets

# ignore extempore keylogs
/keylogs

# mode for highlighing LLVM IR files
# available from http://llvm.org/
/extras/llvm-mode.el
/extras/posn-on-screen.el

# extempore scratch file
/scratch.xtm

# igore emacs # files
\#*#

# DS_Store
.DS_Store

# Sphinx
/docs/_build
/docs/_build_html

# src
/src/portaudio/src/hostapi/asio

# llvm
/llvm

# aot
/extras/cmake/aot.cmake
/extras/cmake/aot_external_audio.cmake
/extras/cmake/aot_external_graphics.cmake
/extras/cmake/aot_external.cmake

# vscode
.vscode

#visual studio
.vs

# ignore any xtm files in top level extempore dir
/*.xtm

# ignore any dat files at top level
/*.dat