extempore
extempore.exe
config/llvm.bash
/TAGS
Horde3D_Log.html
.dir-locals.el
# mode for highlighing LLVM IR files
# available from http://llvm.org/
extras/llvm-mode.el
# ignore VS build results
msvc/
!msvc/extempore.sln
!msvc/extempore.vcxproj
!msvc/ms_build_vars.bat
extempore.pdb
